working_directory: /usr/src/app
data_sources:
  - /usr/src/app
data_source_extensions:
  - .fits.gz
# the netrc_filename value must be a fully-qualified name
netrc_filename: /usr/src/app/netrc
resource_id: ivo://cadc.nrc.ca/ams
# resource_id: ivo://cadc.nrc.ca/sc2repo
todo_file_name: todo.txt
# values True False
use_local_files: True
# values DEBUG INFO WARNING ERROR
logging_level: DEBUG
# values True False
log_to_file: True
# fully qualified name for a directory to write log files
log_file_directory: /usr/src/app/logs
# the filename where success logs are written
#
# this file is created in the logs directory, default is 'success_log.txt'
success_log_file_name: success_log.txt
# the filename where failure logs are written
#
# this file is created in the logs directory, default is 'failure_log.txt'
failure_log_file_name: failure_log.txt
# the filename where retry ids are written. This file is only written
# if use_local_files is False.
#
# this file is created in the logs directory, default is 'retries.txt'
retry_file_name: retries.txt
retry_failures: True
retry_count: 1
collection: OMM
observe_execution: True
observable_directory: /usr/src/app/metrics
rejected_directory: /usr/src/app/rejected
slack_channel: TODO
slack_token: TODO
# how to control the work that gets done
# possible values are:
# - scrape - read the headers, write out the xml - kind of a test mode
# - store - calls cadc-data to put a file from local storage (use_local_files must be set to True)
# - ingest - read the headers, write the xml to the endpoint found by resource_id
# - modify - create a footprint and previews for an existing CAOM model record
#
# these combinations have been tested:
# scrape => with use_local_files set to True
# scrape, modify => with use_local_files set to True, will not write to service
#
# store, ingest, modify => with use_local_files set to True
# ingest, modify => with use_local_files set to True
#
# ingest, modify => with use_local_files set to False
#
task_types: 
  - store
  - ingest
  - modify
features:
  supports_latest_client: True
  supports_decompression: True
